
<%- include("partials/header.ejs") %>
    
<main class="day-form" style="display: block;">
  <h1 class="day">SATURDAY</h1>

    <form action="saturday" method="POST" class="form">

        <label class="team-name">TEAM---1</label>
        <input type="text" name="name_team_one" class="t-name">
        <label class="team-name">CONTRY</label>
        <input type="text" name="country_team_one" class="t-name">
        <label class="team-name">ODD</label>
        <input type="text" name="odd_team_one" class="t-name">
        <label class="team-name">TIME</label>
        <input type="text" name="time_team_one" class="t-name">
        <label class="team-name">PROBABILITY</label>
        <input type="text" name="prob_team_one" class="t-name">

        <label class="team-name">TEAM---2</label>
        <input type="text" name="name_team_two" class="t-name">
        <label class="team-name">CONTRY</label>
        <input type="text" name="country_team_two" class="t-name">
        <label class="team-name">ODD</label>
        <input type="text" name="odd_team_two" class="t-name">
        <label class="team-name">TIME</label>
        <input type="text" name="time_team_two" class="t-name">
        <label class="team-name">PROBABILITY</label>
        <input type="text" name="prob_team_two" class="t-name">
        

        <label class="team-name">TEAM---3</label>
        <input type="text" name="name_team_three" class="t-name">
        <label class="team-name">CONTRY</label>
        <input type="text" name="country_team_three" class="t-name">
        <label class="team-name">ODD</label>
        <input type="text" name="odd_team_three" class="t-name">
        <label class="team-name">TIME</label>
        <input type="text" name="time_team_three" class="t-name">
        <label class="team-name">PROBABILITY</label>
        <input type="text" name="prob_team_three" class="t-name">
        
    
        <label class="team-name">TEAM---4</label>
        <input type="text" name="name_team_four" class="t-name">
        <label class="team-name">CONTRY</label>
        <input type="text" name="country_team_four" class="t-name">
        <label class="team-name">ODD</label>
        <input type="text" name="odd_team_four" class="t-name">
        <label class="team-name">TIME</label>
        <input type="text" name="time_team_four" class="t-name">
        <label class="team-name">PROBABILITY</label>
        <input type="text" name="prob_team_four" class="t-name">

         
      <input type="submit" class="submit-button" value="SUBMIT">
      <button type="button" class="clear-button">CLEAR ALL</button>

    </form>
    <div class="message"><%= locals.message%></div>
  
</main>
