:root{
    --maincolor: #e7e7e7;
    --headings: rgb(56, 58, 58);
    --subheadings: hsl(180, 34%, 65%);
    --darkgray: #a9a9a9;
    --lightgray: #d3d3d3;
    --logo: Tektur;
    --headingf: Archivo;
    --darkcyna: #0e7c80;
    --accent-orange: #FF8C42;
    --bg-light: #edeeee;
    --subtitle: rgb(180, 135, 68);
}


#logo{
    font-family: var(--logo);
    display: flex; 
    justify-content: space-between;
    background-color: var(--headings);
    width: 99vw; height: 60px;
    border-radius: 2px; 
    align-items: center;
}

#logo > h2{
    min-width: 400px;
    color: var(--accent-orange);
    margin-left: 30px;
    
}
.userInfo{
    display: flex;
    flex-wrap: nowrap;
    margin-right: 100px;
    gap: 20px;
    color: var(--accent-orange);
}

.user{
  background-color: var(--accent-orange);
  color: var(--headings);
  border-radius: 5px;
  padding: 8px;
}
.home{
  background-color: var(--accent-orange);
  color: var(--headings);
  border-radius: 5px;
  padding: 8px;
  text-decoration: none;

}

.center-main{
    display: grid;
    grid-template-columns: 1fr 2fr ;
    gap: 50px;
    margin-top: 80px;
    border-radius: 5px;
}
.table{
    display: block;
    overflow-y: auto;
    border-radius: 5px;
    border: 5px solid var(--headings);
    border-radius: 15px;
    box-shadow: 1px 1px 10px 1px lightgray;

}
.t-teams{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

.main{
    display: grid;
    grid-template-columns: repeat(3, auto); 
    border-radius: 5px; 
    gap: 30px;
    height: 700px;
  
   
}
.days  {
    transition: .5s;
    display: grid;
    grid-template-columns: repeat(auto-fit minmax(200px 1fr));
    gap: 20px;
    height: 60px;
    box-shadow: 0px 0px 10px 0px var(--accent-orange);  
    border-radius: 10px;
    border: 2px solid var(--headings);
    padding: 60px;  
    color: var(--headings); 
    font-family: var(--headingf); 
    font-weight: 800; 
    font-size: x-large;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 2px 3px;
}
.days:hover{
    box-shadow: 0px 0px 20px 10px var(--accent-orange);
    height: 65px;

}


.teamInputs{
    display: inline-block;  
    border-radius: 15px;
    font-family: var(--headingf); 
    gap: 100px;
    border: 5px solid var(--headings);
   
    padding: 20px 50px 20px 0px;
    box-shadow: 0px 0px 10px 1px lightgray;
}
.teamInputs >*{
    margin-top: 70px;
    margin-left: 100px;
    
}

.teamInputs > div >*{
    margin-left: 30px;
}
.teamInputs > div > input{
  width: 200px;
}
.submit-button,.clear-button{
    margin-left: 250px; 
    margin-top: 100px; 
    font-weight: 800; 
    height: 50px; 
    border: 5px solid var(--headings); 
    border-radius: 10px; 
    color: var(--headings);
    width: 200px;
}
.message{
    color: var(--accent-orange); 
   
    font-size:x-large;
    font-family: var(--logo); 
}