:root{
    --maincolor: #e7e7e7;
    --headings: rgb(56, 58, 58);
    --subheadings: hsl(180, 34%, 65%);
    --darkgray: #a9a9a9;
    --lightgray: #d3d3d3;
    --logo: Tektur;
    --headingf: Archivo;
    --darkcyna: #0e7c80;
    --accent-orange: #FF8C42;
    --bg-light: #edeeee;
    --subtitle: rgb(180, 135, 68);
}

#logo{
    font-family: var(--logo);
    display: flex; 
    justify-content: space-between;
    background-color: var(--headings);
    width: 99vw; height: 60px;
    border-radius: 2px; 
    align-items: center;
}

#logo > h2{
    min-width: 400px;
    color: var(--accent-orange);
    margin-left: 30px;
    
}
.userInfo{
    display: flex;
    flex-wrap: nowrap;
    margin-right: 100px;
    gap: 20px;
    color: var(--accent-orange);
}

.user{
  background-color: var(--accent-orange);
  color: var(--headings);
  border-radius: 5px;
  padding: 8px;
}
.user:hover{
    box-shadow: 2px 2px 2px 3px var(--darkgray);
}
.home{
  background-color: var(--accent-orange);
  color: var(--headings);
  border-radius: 5px;
  padding: 8px;
  text-decoration: none;

}
.home:hover{
    box-shadow: 2px 2px 2px 3px var(--darkgray);
}
.day-title{
    background-color: var(--headings);
    width: 30vw;
    height: 3vh;
    text-align: center;
    margin-left: 35vw;
    margin-top: 5vh;
    font-family: var(--headingf);
    font-size: large;
    padding-top: 10px;
    color: var(--accent-orange);
    border-radius: 5px;
}
.center-main{
    display: grid;
    grid-template-columns: 1fr 2fr ;
    gap: 100px;
    margin-left: 100px;
    margin-top: 80px;
    border-radius: 5px;
    padding-bottom: 150px;
}
.table{
    display: block;
    overflow-y:scroll ;
    overflow-x: hidden;
    border-radius: 5px;
    border: 2px solid var(--headings);
    border-radius: 15px;
    box-shadow: 1px 1px 10px 1px rgb(104, 103, 103);
    height: 790px;
 

}
.team_heading{
    margin: 50px 0px 50px 200px;
    font-size: larger; 
    font-family: var(--headingf);
}
.logo{
    width: 40px;
    height: 35px;
    border-radius: 50%;
}
.t-teams{
    display: flex;
    justify-content: space-evenly;
    margin-left: 25px;
    margin-top: 30px;
    background-color: #e4dfdf;
    width: 90%;
    height: 40px;
    align-items: center;
    border-radius: 3px;
}

.main{
    display: grid;
    grid-template-columns: repeat(3, auto); 
    border-radius: 5px; 
    gap: 30px;
    height: 700px;
  
   
}
.days  {
    transition: .5s;
    display: grid;
    grid-template-columns: repeat(auto-fit minmax(200px 1fr));
    gap: 20px;
    height: 60px;
    box-shadow: 10px 10px 10px 10px #b6ac99;  
    border-radius: 10px;
    border: 2px solid var(--headings);
    padding: 60px;  
    color: var(--headings); 
    font-family: var(--headingf); 
    font-weight: 800; 
    font-size: x-large;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 2px 3px;
}
.days:hover{
    box-shadow: 0px 0px 20px 10px var(--accent-orange);
    height: 65px;

}


.teamInputs{
    display: grid;
    grid-template-columns: auto  auto;
    border-radius: 15px;
    font-family: var(--headingf); 
    gap: 1px;
    border: 2px solid var(--headings);
 
    padding: 20px 50px 20px 0px;
    box-shadow: 0px 0px 10px 1px lightgray;
}
.teamInputs >*{
    margin-top: 70px;
    margin-left: 100px;
    
}

.teamInputs > div >*{
    margin-left: 30px;
    margin-top: 10px;
    display: block;
}
.teamInputs > div > input{
  width: 200px;
}
.submit-button,.clear-button{
    margin-left: 150px; 
    margin-top: 80px; 
    font-weight: 800; 
    height: 50px; 
    border: 5px solid var(--headings); 
    border-radius: 10px; 
    color: var(--accent-orange);
    width: 150px;
    background-color: var(--headings);
}
.submit-button:hover{
     box-shadow: 0px 0px 20px 10px var(--accent-orange);
}
.clear-button:hover{
    box-shadow: 0px 0px 20px 10px var(--accent-orange);
}
.message{
    color: var(--accent-orange); 
   
    font-size:x-large;
    font-family: var(--logo); 
}